.carousel__side-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #323232;
}

@media screen and (min-width: 768px) {
  .carousel__side-panel {
    flex: 0 0 253px;
    align-items: normal;
    padding: 15px 20px 41px 16px;
    background-color: #323232;
    color: #F5F5F5;
  }
}

@media screen and (min-width: 1200px) {
  .carousel__side-panel {
    flex: 0 0 477px;
    padding: 16px 32px 42px;
  }
}
