.btn {
  display: inline-block;
  width: 100%;
  max-width: 335px;
  min-width: 320px;
  min-height: 50px;
  padding: 15px;
  box-sizing: border-box;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: #323232;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, border-color .3s ease-in-out;
}

.btn:disabled {
  cursor: default;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .btn {
    max-width: 237px;
    min-width: 237px;
    min-height: 48px;
    padding: 11px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .btn {
    max-width: 329px;
    min-width: 329px;
    min-height: 50px;

  }
}


