.popup-special-project__button-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0 0 0 -16px;
  background: transparent url("../../../images/icon-close.svg") center center no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.popup-special-project__button-close:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .popup-special-project__button-close {
    width: 24px;
    height: 24px;
    margin: 0 0 0 -24px;
  }
}
