.carousel__side-panel-button-icon {
  width: auto;
  height: auto;
  background: none;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .carousel__side-panel-button-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #A5CDAB;
  }
}

@media screen and (min-width: 1200px) {
  .carousel__side-panel-button-icon {
    height: 50px;
    width: 50px;
  }
}
