.menu__submenu {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  grid-row-gap: 26px;
  grid-column-gap: 87px;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, auto);
  height: auto;
  padding: 21px 0;
  margin: 24px 0 0 0;
  visibility: visible;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-right: none;
  border-left: none;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .menu__submenu {
    position: absolute;
    right: 0;
    justify-content: end;
    grid-auto-flow: column;
    grid-column-gap: 32px;
    grid-template-rows: min-content;
    padding: 7px 0 0;
    margin: 0;
    visibility: hidden;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__submenu {
    grid-column-gap: 60px;
    padding: 12px 0 0;
    margin-right: 10px;
  }
}
