.magazine-card__text_type_experience {
  font-size: 12px;
  order: 1;
  line-height: 1.3;
}
@media screen and (min-width: 1200px) {
  .magazine-card__text_type_experience {
    font-size: 14px;
  }
}
