.sub-menu {
  grid-row: bottom-menu;
  padding: 24px 45px;
  border: 1px solid rgba(50, 50, 50, 0.12);
  border-right: none;
  border-left: none;
}

@media screen and (min-width: 768px) {
  .sub-menu {
    padding: 21px 0 28px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-menu {
    padding: 32px 0;
  }
}

