.footer__links {
  grid-row-gap: 4px;
}

@media screen and (min-width: 768px) {
  .footer__links {
    grid-row-gap: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__links {
    grid-row-gap: 12px;
  }
}
