.materials__wrapper-cards {
  width: 100%;
  display: flex;
  column-gap: 12px;
  margin-top: 22px;
}

@media screen and (min-width: 768px) {
  .materials__wrapper-cards {
    justify-content: center;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .materials__wrapper-cards {
    column-gap: 80px;
    margin-top: 39px;
  }
}
