.navbar__drop-container_expanded {
  height: calc(100vh - 50px);
  visibility: visible;
  position: fixed;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar__drop-container_expanded {
    height: 100%;
    position: static;
  }
}
