@font-face {
  font-family: "WF";
  font-weight: 400;
  src:  url("./WF_Semibold.woff") format("woff"),
        url("./WF_Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:  url("./PT-Sans_Regular.woff") format("woff"),
        url("./PT-Sans_Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src:  url("./PT-Sans_Italic.woff") format("woff"),
        url("./PT-Sans_Italic.woff2") format("woff2");
}
