.materials__wrapper-content-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 36px 12px 16px;

}

@media screen and (min-width: 768px) {
  .materials__wrapper-content-card {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .materials__wrapper-content-card {
    margin: 28px 16px 16px;
  }
}
