.magazine-card__inner {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: end;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  color: #F5F5F5;
  padding: 12px 8px 26px;
}

@media screen and (min-width: 768px) {
  .magazine-card__inner {
    padding: 12px 5px 12px 8px;
  }
}

@media screen and (min-width: 1200px) {
  .magazine-card__inner {
    padding: 12px 16px 23px;
  }
}
