.square-menu__item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  width: 100%;
  max-width: 100%;
  min-width: auto;
  min-height: auto;
  padding: 0;
  margin: 12px 0 0;
  color: rgba(50, 50, 50, 0.25);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .square-menu__item-button {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .square-menu__item-button {
    font-size: 20px;
  }
}

