.toc__link {
  color: #323232;
  text-decoration: none;
  font-family: "WF", Times, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.toc__link:hover {
  opacity: .5;
}
