.audio-player__control_type_volume {
  background-image: url("../../../../images/icon-audio-player-volume.svg");
  grid-area: volume;
  display: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .audio-player__control_type_volume {
    display: inline-block;
  }
}
