.materials__card {
  position: relative;
  flex-basis: 276px;
  min-height: 360px;
  background-color: #E7E4DE;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
  row-gap: 12px;
  height: auto;
}

.materials__card:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .materials__card {
    flex-shrink: 1;
    flex-basis: 238px;
  }
}

@media screen and (min-width: 1200px) {
  .materials__card {
    flex-basis: 328px;
    min-height: 428px;
  }
}
